.App {
  min-height: 100vh;
  background-color: black;
  color: #02ccff;
  display: flex;
  flex-direction: column;
  align-items: center;
  & > * {
    text-align: center;
  }
  h1 {
    font-size: 2em;
    margin: 1em 0;
  }
  .above-fold-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .main-header {
      background-image: url(./assets/header.svg);
      min-height: 151px;
      .Nav {
        height: 60px;
        width: 100%;
        position: fixed;
        z-index: 1000;
        display: flex;
        align-items: center;
        padding-left: 1em;
        box-shadow: inset 0 0 200px 0 white;
        transition: 0.3s ease-out;
        .hamburger {
          fill: black;
          padding: 5px;
          margin-right: 1.2em;

          border-radius: 7px;
          .line-one[direction="true"] {
            animation: rotate-down 0.3s ease-out forwards 0.3s;
          }
          .line-one[direction="false"] {
            animation: rotate-down-reverse 0.3s ease-out forwards;
          }
          .line-two[direction="true"] {
            animation: slide-out 0.3s ease-out forwards;
          }
          .line-two[direction="false"] {
            animation: slide-out-reverse 0.6s ease-out forwards;
          }
          .line-three[direction="true"] {
            animation: rotate-up 0.3s ease-out forwards 0.3s;
          }
          .line-three[direction="false"] {
            animation: rotate-up-reverse 0.3s ease-out forwards;
          }
        }
        .link-wrapper {
          width: 80%;
          height: 40px;
          position: absolute;
          left: 3.5em;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          transition: width 0.5s ease-out;
          a {
            text-decoration: none;
            color: black;
            font-weight: bold;
            font-size: 1.2em;
          }
          a + a {
            margin-left: 1.2em;
          }
        }
        .link-wrapper[direction="false"] {
          width: 0;
        }
      }
      .Nav[direction="false"] {
        width: 21%;
        border-radius: 0.25em;
      }
    }

    img {
      width: 100%;
    }
  }
  .Projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .Project {
      position: relative;
      width: 80%;
      height: 20em;
      margin-bottom: 2em;
      box-shadow: inset 0 0 200px 0 white;
      color: black;
      overflow: hidden;
      background-size: cover;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      place-items: center;
      h2 {
        grid-column: 1 / 3;
        grid-row: 1;
      }
      .badge-container {
        grid-column: 1;
        grid-row: 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: row;
        gap: 0.3em;
        box-shadow: inset 0 0 50px 0 #000;
        padding: 0.3em;
        .badge {
          width: 30px;
        }
      }
      p {
        font-size: 1.2em;
        grid-column: 2;
        grid-row: 2;
      }
      .button {
        width: 4.5em;
        padding: 0.25em 0;
        background: #00265a;
        color: white;
        border-radius: 1em;
        a {
          text-decoration: none;
          color: inherit;
        }
      }
      .btn-demo {
        grid-column: 1;
        grid-row: 3;
      }
      .btn-code {
        grid-column: 2;
        grid-row: 3;
      }
    }
  }
  .Contact {
    .IconList {
      display: flex;
      justify-content: center;
      margin-bottom: 2em;
      a {
        text-decoration: none;
        color: inherit;
        font-size: 2em;
      }
      a + a {
        margin-left: 1em;
      }
    }
    .contact-methods-wrapper {
      margin-bottom: 2em;
      a {
        color: inherit;
        text-decoration: none;
      }
      a + a {
        margin-left: 2em;
      }
    }
  }
}
@keyframes rotate-up {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-45deg) translateY(-30px);
    transform-origin: 50% 50%;
  }
}
@keyframes rotate-up-reverse {
  0% {
    transform: rotate(-45deg) translateY(-30px);
    transform-origin: 50% 50%;
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes rotate-down {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(45deg) translateY(30px);
    transform-origin: 50% 50%;
  }
}
@keyframes rotate-down-reverse {
  0% {
    transform: rotate(45deg) translateY(30px);
    transform-origin: 50% 50%;
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes slide-out {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
@keyframes slide-out-reverse {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
